# ======================================================
#	TYPESCRIPT
# ======================================================
ts/*
d.ts
ts-stl_decrecated
!ts/src
!ts/tsconfig*.json
!ts/include
!ts/index.html

*.bat
*.ink
*.*ignore

wiki/