# ======================================================
#	CUSTOM IGNORE
# ======================================================
node_modules/
lib/

package-lock.json
*.log

#----
# COMPILED FILES
#----
*.js
*.js.map
*.d.ts
*.d.ts.map