# ======================================================
#  CUSTOM IGNORE
# ======================================================
assets/benchmarks/
node_modules/

package-lock.json
*.log

#----
# COMPILED FILES
#----
*.d.ts.map
*.js
*.js.map