# ======================================================
#	TYPESCRIPT
# ======================================================
.git/
.github/
.vscode/

node_modules/
build/
src/
lib/tests/

*.log
*.*ignore
*.js.map

tsconfig.json
package-lock.json