# ======================================================
#	TYPESCRIPT
# ======================================================
.git\
.vscode\
node_modules\

build\
design\
handbook\
src\

*.bat
*.log
*.*ignore
*.js.map