# ======================================================
#  TYPESCRIPT
# ======================================================
.git/
.github/
.vscode/

assets/
node_modules/
build/
src/
benchmark/
test/

*.log
*.*ignore
*.js.map

tsconfig.json
package-lock.json